<div class="interactive-section__wrapper">
  <button mat-icon-button class="interactive-section__button"
          [class.like-it]="post().isLiked"
          (click)="onLikeClick()">
    <mat-icon>favorite</mat-icon>
  </button>
  <span [class.actioned]="post().isLiked">
    {{post().likes}}
  </span>
</div>

 @let isCommented = post().isCommented;
<div class="interactive-section__wrapper">
  <button mat-icon-button class="interactive-section__button"
          [class.actioned]="isCommented">
    <mat-icon>chat bubble</mat-icon>
  </button>
  <span [class.actioned]="isCommented">
    {{post().comments.length}}
  </span>
</div>
