<div class="post-header__avatar">
  <img src="assets/avatar-placeholder.png" alt="User avatar" />
</div>

<div class="post-header__content">
  <div class="post-header__info">
    <span class="text-base text-bold">giulionegallone</span>
    <span class="text-base text-bold text-alternative">•</span>
    <span class="text-base text-bold text-alternative">21:15</span>
  </div>
  <p class="text-base text-regular">
    Ragazzi qualcuno sa dove nascondere il cadavere di una donna ebraica, 154cm, 45kg, circa 23 anni? grazie.
  </p>
</div>

