:host {
  display: flex;
  justify-content: center;

  padding: 4rem 0;
}

.post-list__wrapper {
  display: flex;
  flex-direction: column;

  width: 60%;
}

app-post:not(:last-child) {
  border-bottom: 0;
}
