<div class="comment-section__title">
  <span class="text-base text-regular text-alternative">Commenti per</span>
  <span [innerHTML]="post().user" class="text-base text-bold text-alternative"></span>
</div>

@if (post().comments.length > 0) {
  <div class="comment-section__comment-list-wrapper">
    @for (comment of post().comments; track comment.id; let last = $last) {
      <app-comment [comment]="comment" [class.comment-section__comment-wrapper]="!last"/>
    }
  </div>
}

<app-comment-updater [post]="post()"/>
